# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
js/.env
.DS_Store
.editorconfig
.gitattributes
.idea/*
npm-debug.log
public/player.html
